.rankings {
    margin: 0 0 15px 0;
    padding: 0;
    display: table; margin: 0 auto;
    .ranking {
      float: left;
        font-size: 24px;
        font-size: 2.4rem;
        color: $white;
        text-align: center;
        font-family: $font-secondary;
        line-height: 66px;
        line-height: 6.6rem;
        margin-bottom: 1em;
        list-style: none;
        padding: 0 5px;
    }
}
@media (max-width: 860px) { /* > 880 */
  .rankings.four-up .ranking {
    padding: 0 15px;
    &:nth-child(3n) {
      clear:left;
    }
  }
}


.course-profiles .rankings{
	text-align:center;
}

[class*="icon-course-"] {
    @include square(66px);
    display: inline-block;
}

article.course-profiles{
	margin-bottom:0;
}

.course-profile {
		margin-left:10px;
		.year-architect{
		 margin:5px 0;
		}
    address, p {
        margin-bottom: 0;
        font-size: 13px;
        font-size: 1.3rem;
    }
		address{
			margin-bottom:5px;
		}
    strong {
        text-transform: uppercase;
        font-family: $font-secondary;
        font-weight: normal;
    }
}
.course-description {
    font-size: 14px;
    font-size: 1.4rem;
}

.get-their-take {
    .media-heading {
    font-size: 13px;
    font-size: 1.3rem;
    color: #86843a;
    }
    .media-body {
        width:60%;
        p {
            font-size: 13px;
            font-size: 1.3rem;
        }
    }
}
.get-their-take .gs-to-1 .media-body {
	width: 80%;
}

.destination-location {
    color: $white;
    margin: 1em 0 .5em;
}
      .course-header{
        @include box-sizing(border-box);
        background:#000;
        padding: 20px 20px 0 20px;
        margin-right: -7px;
      }
      .course-banner-image {
        width: 100%;
      }
      .course-banner{
        @include box-sizing(border-box);
        border:7px solid #d5d6d8;
        position:relative;
        line-height: 0;
      }
      .course-banner-text{
        width:100%;
        background:rgba(0,0,0,0.5);
        position:absolute;
        bottom:0;
      }
      .course-banner-title{
        position:relative;
        bottom:0;
        margin-top:0px;
        margin-right:20px;
        margin-left: 20px;
        font-family: $font-secondary;
        text-transform:uppercase;
        color:$white;
        font-size:1em;
        line-height: 44px;
      }
      .course-banner-tagline{
        margin:12px 20px .5em 20px;
        color:$white;
        border-top:1px solid $white;
        border-bottom:1px solid $white;
        font-family: $font-secondary;
        font-size:13px;
        font-size: 1.3rem;
        line-height: 19px;
      }

      .course-sibling-menu{
        @extend .cf;
        position:relative;
        margin:0 0 0 -10px;
        min-height:10px;
            ul{
                margin:0;
                li{
                    float:left;
                    position:relative;
                    list-style:none;
                    a{
                        background-color:$orange;
                        color:$white;
                        display: block;
                        padding:10px 10px;
                        text-transform:uppercase;
                        font-family: $font-secondary;
                        font-size:14px;
                        font-size: 1.4rem;
                        &:hover {
                            background-color:$black;
                        }
                  }
              }
          }
      }
      .course-profile-post .entry-header{
        display:none;
      }
      .rating-wrapper{
        padding:0 5px 5px;
        position: relative;
      }
      .scale-parameter{
       position:absolute;
       margin-top:15px;
       font-weight:bold;
      }
      .scale-max{
       right:0;
       margin-right:-0px;
      }
      .scale-min{
       margin-left:-12px;
      }
      .rating-title{
        text-transform:uppercase;
      }
      .rating-description{
        font-size:12px;
      }
      .rating-parameter-name{
        font-size:12px;

      }


      .category-course-reviews .entry-header{
        display:block;
      }
			.course-review-logo-wrapper{
			  border:1px solid #ccc;
			  float:right;
			  width:19em;
			  height:13em;
			  text-align:center;
			  margin:0 0 5em 2em;
			  position:relative;
			}
      .course-logo-mini{
				width:auto;
				margin:0;
				padding:0;
				max-width: 18.5em;
				max-height: 12.5em;
				position:static;
	    }
	    .author-image{
	      float:left;
	      margin-right:10px;
	    }
	    .course-review-header h1, .course-review-header h2{
	      clear:none;
	    }
	    .course-review-header hr{
	      clear:both;
	    }


      .top-100-badge{
       margin:3px;
      }
      .top-100-badge span{
        width:38px;
        height:38px;
      }

      .top-100-badge span{
        font-size:11px;
        line-height:13px;
        text-transform:uppercase;
        font-weight:bold;
      }
      .course-profile-archive-title{
        font-size:24px;
      }
      .course-profiles-archive-intro{
        font-size:14px;
				min-height:2em;
      }
      .state-wrapper{
        background-color: $medium_grey;
        background:url(images/state-label-bg.gif) repeat-y;

        width:100%;
        clear:both;
        margin-bottom:40px;
        position: relative;
        overflow: hidden;
        &:before {
          @include single-box-shadow($white, 0, -5px, 0, 0, inset);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
        }
      }

		  .state-label{
		    display:block;
		    font-family: $font-secondary;
			font-size: 14px;
            margin-right:5px;
            color:#fff;
            float:left;
            width:3em;
            height:130px;
            position:relative;
          }
          .state-label h3{
            text-indent: -20em;
            margin-top: .5em;
            height: 3em;
            line-height: 3em;
            position: absolute;
            text-align:right;
    		  white-space:nowrap;

          background: none;
          -webkit-transform-origin: 0 0;
          -moz-transform-origin:    0 0;
          -ms-transform-origin:     0 0;
          -o-transform-origin:      0 0;
          -webkit-transform: rotate(270deg);
          -moz-transform:    rotate(270deg);
          -ms-transform:     rotate(270deg);
          -o-transform:      rotate(270deg);
      }
            .state-courses {
                margin-left: 3em;
            }
		  .state-course{
		     float:left;
		     position:relative;
		     border:1px solid $medium_grey;
		     width:10em;
		     height:8em;
		     margin:0 5px 5px 0;
		     text-align:center;
		  }
		  .state-course a{
		    display:block;
		  }
		  .top-100-badge{
		    position:absolute;
		  }
			.top-100-sash{
				position:absolute;
				left:0;
				top:0;
				width:58px;
				height:34px;
			}
		  .private{
		    background:url(images/private-flag.png);
		    position:absolute;
		    width:59px;
		    height:34px;
		    bottom:0;
		    right:0;
		  }
		  .course-logo{
		    max-width:10em;
		    max-height:8em;
		  }
		  .course-logo-full{
        margin-left:10px;
      }

			.course-logo-full{
				text-align:center;
			}
      .course-logo-full img{
        margin-bottom:25px;
				max-width:100%;
				max-height:210px;
				width:auto;
      }

			.course-banner-title.long-banner-title{
        font-size:1.3em;
        margin-top:2px;
      }
      .course-sibling-menu ul{
        padding-bottom:10px;
      }
      .course-sibling-menu ul li a {
        background-color:#000;
        padding:3px 10px 0px 10px;
      }
      .course-sibling-menu ul li a.current-sibling-course, .course-sibling-menu ul li a:hover{
        color:#FF5C14;
      }

.course-take-slideshow{
  background:#000;
  width:20%;
  text-align:center;
  padding:2px;
  color:#fff;
  float:right;
  margin:3px 0px 5px 10px;
}
.course-take-slideshow a.more-link{
  color:#fff;
}

.course-profile-text{
	max-width:50%;
}

.rating-shim{
 height:38px;
}

.course-profile-mini-logo-wrapper{
 float:right;
 width:50%;
 text-align:center;
}
@media only screen and (max-width: 35em) {
 .course-profile-mini-logo-wrapper{
   width:100%;
 }
}

@media only screen and (min-width: 30em) { /* > 480 */

      .course-banner-title{
        float:right;
        font-size:1.6em;
      }
      .course-banner-tagline{
        position:relative;
        float:right;
      }
      .course-banner-text{
        height:45px;
        height: 4.5rem;
      }
}


// let's fix these tables
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
   .course-yardage-table {
    td:nth-of-type(1):before { content: "Tee"; }
    td:nth-of-type(2):before { content: "Yardage"; }
    td:nth-of-type(3):before { content: "Par"; }
    td:nth-of-type(4):before { content: "Rating / Slope"; }
    td:nth-of-type(5):before { content: "Score Card"; }
    td:nth-of-type(6):before { content: "View Score Card"; }
    }
}

.profile-wrapper{
  padding-left:9%;
}
@media (max-width: 860px) {
  .profile-wrapper{
    padding-left:0;
  }
}
