@font-face {
    font-family: 'NovecentowideBookBold';
    src: url('fonts/Novecentowide-Bold-webfont.eot');
    src: url('fonts/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-Bold-webfont.woff') format('woff'),
         url('fonts/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('fonts/Novecentowide-Book-webfont.eot');
    src: url('fonts/Novecentowide-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-Book-webfont.woff') format('woff'),
         url('fonts/Novecentowide-Book-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-Book-webfont.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

