@import "compass/css3";


input[type="email"], input[type="search"] {
    @include background-image(linear-gradient($white, $white 80%, #e3e3e4));
}

.searchform {
    .field {
        width: 100%;
        font-size: 10px;
        font-size: 1.0rem;
        padding: .7em .5em;
        border-top-width: 2px;
        border-bottom-width: 2px;
        @include box-sizing(border-box);
    }
}

.widget_stay_connected {
    input[type="email"] {
        border: 2px solid #BCBDC0;
        vertical-align: top;
        width: 100%;
        padding: .35em;
        height: 31px;
        @include box-sizing(border-box);
    }
    input[type="image"] {
        width: 71px;
        height: 31px;
        vertical-align: top;
        background-color: #918f43;
        display: block;
        margin: .5em auto;
    }
    .clear {
        display: none;
    }
    .title {
    @include size(25px, 157px);
    display: inline-block;
    }
}

@media only screen and (min-width: 30em) { /* > 480 */
    .widget_stay_connected {
        input[type="email"] {
            width: 100%;
            /*border-right: none;*/
        }
    input[type="image"] {
        display: inline-block;
        margin: 0;
    }

    }
}

@media only screen and (min-width: 55em) { /* > 720 */
.widget_stay_connected {
    input[type="email"] {
        /*border-right: none;*/
        width: 68%;
    }
    input[type="image"] {
        display: inline-block;
        margin: 0;
    }

}
}