@import "compass/css3/box-shadow";
@import "compass/css3/hyphenation";
@import "compass/typography/text/replacement";
@import "b00-mixins";
@import "icon/*.png";
@include all-icon-sprites;

body {
  @extend .font-base;
}

.site-header {
  background-color: $white;
  @include box-shadow(0 3px 3px rgba(0,0,0,.25));
  z-index: 100;
  position: relative;
}
.site-main {
  background-color: $bg-color;
}
.content-area {
}
.site-title {
  a {
    @include replace-text(image-url("golftripperTM.png"));
    @include size(106px,320px);
  }
}
.site-description {
  position: absolute;
  right: 10px;
  top:40%;
  text-transform: uppercase;
  font-family: $font-tertiary;
}
.social-links {
  position: absolute;
  right:10px;
  bottom: 6px;
}
.icon-sprite {
  @include square(21px);
  display: inline-block;
}
.icon-rss, .icon-facebook, .icon-twitter, .icon-email {
  @extend .hide-text;
}
.icon-email{
	background-image:url('images/icon/email.png');
	height:21px;
	width:21px;
	display:inline-block;
}
.icon-instagram{
	background-image:url('images/icon/instagram.png');
	background-position:0 0;
	font-size:0;
	height:21px;
	width:21px;
	display:inline-block;
	text-indent:-9999px;
}
.navigation-wrapper {
  @include box-shadow(0 3px 3px rgba(0,0,0,.25));
  @extend .clearfix;
  z-index: 50;
  position: relative;
}

// extends
.italic, .italics {
  font-style: italic;
}
.no-list {
  list-style: none;
}

// footer
.footer-wrapper {
  background-color: $black;
  ul,li {list-style-type: none;margin:0;}
  padding: 2em 0;
  .footer-widget {
    font-size: 10px;
    font-size: 1rem;
    line-height: 2em;
    color:$white;
    text-transform: uppercase;
    a {color:$white;}
  }
  .footer-title {
    color: $footer-header-color;
    > a {color: $footer-header-color;font-weight: bold;}
  }
}

// modules
article, .widget {
  font-size: 14px;
  font-size: 1.4rem;
}

.sub-subtitle {
  font-family: $font;
  font-weight: bold;
  color:$text-color;
}
.subtitle, .entry-title {
  font-size: 20px;
  font-size: 2.0rem;
  a {color:$black;}
  margin-bottom: .8em;
  line-height: 1em;
}
.title {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: $font-tertiary;
  a {color: #999999;}
}
.main-home-article {
  font-size: 25px;
  font-size: 2.5rem;
  margin-bottom: .5em;
}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
.hide {
  @extend .hide-text;
}


// media
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  margin-left: 0;
  list-style: none;
}
// carousel
.slider-wrapper {
  line-height: 0;
}
.carousel-wrapper {
  background-color: $black;
  padding: 1% 0;
}
.carousel-img {
  margin-right: 1.9%;
  &.current {
    border:2px solid $orange;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  &:last-child {
    margin-right: 0;
  }
}
.slider-image {
  img {
    width: 100%;
    height: auto;
  }
}
.clearboth, .cb {
  clear: both;
}

// main padding around elementes
.pad {
  padding: 10px;
}

.inset-border {
  background-color: $white;
  position: relative;
  padding: 6px;
  margin:2% 0 0;
  .border {
    margin: 6px;
    padding: 25px 20px 15px;
  }
}
.no-border {
  article {
    padding:32px 12px;
  }
}
.border {
  border: 1px solid $grey;
}

.round {
  @include border-radius(100px);
}
.blue-border {
  border: 1px solid $blue;
}
.vertical-center {
  display: table;
  .center {
    display: table-cell;
    vertical-align: middle;
  }
}
.bug {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 1em;
}
.top-100-bug {
  margin-bottom: .5em;
  line-height: 1em;
  p.center {
    padding-top: 1em;
  }
}
.grey-border {
  margin-bottom: .5em;
}
.bg-orange {
  background-color: $orange;
  color: $white;
  -webkit-background-clip: padding-box;
  a {color: $white;}
}

.text-center {
  text-align: center;
}
.triangle {
  position: relative;
}
.triangle:before {
  @include square(0);
  border-style: solid;
  border-width: 15px 0 15px 16px;
  border-color: transparent transparent transparent #e2e3e4;
  content: " ";
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2;
}
.single {
  .triangle:before {
    top: 33px;
  }
}

// widgets
.widget-area {
  padding-top: 0.4em;
}
.widget {
  &.triangle:before {
    border-width: 12px 0 12px 13px;
    top:31px;
  }
  padding-top: 2%;
  ul,ol {
    margin-left: 0;
    list-style-position: inside;
  }
  .rankings {
    margin-bottom: .5em;
    li {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
      font-size: 1.1rem;
      margin-bottom: .6em;
      span {
        font-weight: normal;
        font-size: 70%;
        text-transform: capitalize;
      }
    }
  }
  .widget-title {
    font-size: 17px;
    font-size: 1.7rem;
  }
  .widget-subtitle {
    font-size: 10px;
    font-size: 1.0rem;
    margin: 1em 0;
    text-transform: capitalize;
  }
  &.inset-border {
    padding: 1px;
  }
}
.widget_ad, .widget_graphics {
  line-height: 0;
  .border {
    padding: 0;
  }
  img {
    width: 100%;
  }
}




a {text-decoration: none}
.more-link {
  color: $orange;
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {@extend .font-secondary;}

p {
  margin-bottom: 1em; }

  .main-home-article {
    font-size: 25px;
    font-size: 2.5rem;
    a {
      &:link, &:visited {
        color: $header-link-color;
      }
    }
  }

  .border-top {
    border-top: 1px solid $white;
  }
  .border-bottom {
    border-bottom: 1px solid $white;
  }

  .destination-slider{
    margin-left:-10px;
    margin-right:-7px;
    max-height:365px;
    height: auto;
  }
  @media only screen and (min-width: 55em) { /* > 880 */
    .destination-slider {margin-right: -10px;}
  }
  .destination-content{
    margin-top:0;
  }
  .destination-name{
    font-family: NovecentowideBookBold, sans-serif;
    font-size: 24px;
  }
  .destination-course{
    display:block;
    margin-bottom:20px;
  }
  .destination-scenic-image img{
    border:5px solid $grey;
  }
  .tax-course-banner{
    border:2px solid #bcbdc0;
  }
  .site-description {
    font-size:20px;
  }
  .main-home-article{
    font-family: "NovecentowideBookBold", sans-serif;
  }
  .widget h4.title{
    font-family: "NovecentowideBookBold", sans-serif;
  }
  .image-feat{
    margin-bottom:10px;
  }
  article .content p{
    margin-bottom:5px;
  }
  article h4.subtitle{
    min-height:40px;
  }

  .stripe-container{
   background-color:#000;
   height:25px;
 }

 .standard-article-image{
   max-height:202px;
   width:auto;
   max-width:100%;
   text-align:center;
 }
 .image-feat{
   text-align:center;
 }


 .nivo-controlNav{
   padding-left:10px;
   a {
    width: 12%;
    max-width: 123px;
  }
}
.nivo-control{
  margin-right: 1.7%;
  display:inline-block;
}
.nivo-control img{
  width: 100%;
  height: auto;
}
.nivo-control.active img{
  border: 2px solid #ff5c14;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nivo-directionNav a {
  display:none;
  width:70px;
  height:100%;
  background:url(images/new-arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
  top:0;
}
a.nivo-nextNav {
  background-position:-65px 50%;
  right:5px;
}
a.nivo-prevNav {
  background-position:5px 50%;
  left:5px;
}
.nivoSlider:hover .nivo-directionNav a {
 display:block;
}

.nivo-slice{
 z-index:1 !important;
}
.nivo-imageLink{
 z-index:4 !important;
}

img.nivo-main-image{
  width:100% !important;
}
.nivo-caption{
  position: absolute;
  text-align:right;
  height:50px;
  font-family: "NovecentowideBookBold", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 39px;
  line-height:40px;
  padding-right:5%;
  background: rgba(0,0,0,0.6) !important;
}
.nivo-control .thumb-label{
 position:absolute;
 padding:15% 2% 2% 2%;
 width:96%;
 height:64%;
 top:0;
 left:0;
 font-family: "NovecentowideBookBold", sans-serif;
 text-transform: uppercase;
 text-shadow:1px 2px 2px #000;
 color: white;
 font-size:11px;
 line-height:14px;
}
.nivo-control.active .thumb-label{
 font-weight:normal;
}
.nivo-control{
 position:relative;
}



/* destination slider */
#destination-slider{
  max-height:365px;
  height: auto;
}


.slider-title{
  @include box-sizing(border-box);

  background:rgba(0,0,0,0.5);
  position:absolute;
  width:100%;
  bottom:0;
  padding:10px 20px;
  z-index:8;

  font-family: NovecentowideBookBold, sans-serif;
  text-transform: uppercase;
  color: #fff;
    font-size: 1em;
  text-align: right;
  line-height: 1em;
}

@media only screen and (min-width: 55em) { /* > 880 */
  .slider-title{
    line-height: 1.8em;
    font-size: 1.8em;
    padding: 0 20px;
  }
}
.email.mce_inline_error{
 width:100% !important;
}

.category .page-title.category-title, .archive .page-title.category-title{
 font-size:26px;
}
.category .entry-title.category-post,  .author .entry-title.category-post{
 margin-bottom:0.1em;
}
.feature-post-wrapper{
 float:right;
 height:19em;
 border:1px solid #fff;
}
.category-post{
  clear:none;
}
.post {
  a {@include hyphenation;}
  .entry-title a {@include hyphens(none);}
}

.post-feature-image{
 max-width:250px;
 max-height:250px;
 margin:0 0 10px 10px;
 border:2px solid #bcbdc0;
}
.entry-content {
  img{
    border:2px solid #bcbdc0;
  }
}

.addthis_toolbox{
  margin:0;
}
body.category .addthis_toolbox, body.author .addthis_toolbox{
  margin-top:1em;
}

#nav-below .nav-previous, #nav-below .nav-next{
	font-family: NovecentowideBookBold, sans-serif;
	font-size: 14px;
}

.aff-link-wrapper{
 float:right;
 margin:2.3em 1.5em;
}
.aff-link-wrapper a{
 background-color:#918e48;
 padding:5px 8px;
 color:#fff;
 font-family: NovecentowideBookRegular, sans-serif;
 font-size:11px;
 font-weight:bold;
}

footer{
 padding: 0 .5em;
}
.footer-wrapper{
 background:#231f20;
}
.bottom-stripe{
 background:#000103;
 color:#efefef;
 padding:7px 0;
}
.bottom-stripe a{
 color:#ff5c14;
}
.footer-cols{
 font-size:10px;
}
.footer-cols li{
 margin:5px 0;
}

.footer-destinations{

}
.footer-cols a{
 color:#fff;
}
.footer-social{
 margin-top:-13px;
}
.footer-byline {
 font-size: 13px;
}
.footer-social, .footer-byline {
  margin-left: .5em;
  margin-right: .5em;
}

.interview-widget-content{
	font-size:12px;
}
.widget_interview_top ol.rankings li{
	list-style-position: outside;
	margin-left:15px;
}

.author-bio{
	padding-bottom:5px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}
.author-description{
	font-size:14px;
}


.destination-block{
  height:100%;
  padding:0 10px;
}
.destination-image-title-wrapper{
  position:relative;
  margin-bottom:15px;
  height:6.5em;
}
.destination-image-title-wrapper a{
 display:block;
}
.destination-image-title-wrapper img{
  width:100%;
  max-height:100%;
  position:absolute;
}

.destination-image-title{
  position: absolute;
  padding: 15% 10% 2% 10%;
  width: 80%;
  height: 64%;
  top: 0;
  left: 0;
  font-family: "NovecentowideBookBold", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px #000;
  text-align:center;
  color: white;
  font-size: 0.7em;
}

@media only screen and (min-width: 55em) { /* > 880 */
  .destination-image-title{
    font-size: 0.9em;
  }
}

.destination-block p{
  padding:5px 0px;
}
