.grid {
    @include clearfix;
    margin: 0 -1.5em;
}
.grid-unit {
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0 1.5em;
    width: 100%;
}
.layout .grid-unit {
    width: 20%;
}
.container {
    // @extend .max-width;
    @include clearfix();
    margin: 0 auto;
    position: relative;
}
.site-main, .site-header, .site-footer {
}
// .content-area {
//     float: left;
//     margin: 0 -25% 0 0;
//     width: 100%;
// }
// .site-content {
//     margin: 0 25% 0 0;
//     -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
// }
// .site-main .widget-area {
//     float: right;
//     overflow: hidden;
//     width: 25%;
//     padding-left: 1%;
//     -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
// }
.site-footer {
    clear: both;
    width: 100%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.center { margin: 0 auto; max-width: 62.5em; /* 1000 */ }
.inside { padding: 0 1%; position: relative;}

/* clearfix */
.cf:after,
.gs-open:after { visibility: hidden; display: block; font-size: 0; content: ' '; clear: both; height: 0; }
* html .cf,
* html .gs-open { zoom: 1; }
*:first-child+html .cf,
*:first-child+html .gs-open { zoom: 1; }

/* multiple block container */
.gs-open { margin: 0 -0.875em; }

/* the primitive block of content */
.gs { display: block; float: left; width: 100%;
    // padding: 0 0.875em;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* used by the js polyfill to fix box-sizing support */
.no-boxsizing .gs { padding-left: 0 !important; padding-right: 0 !important; }
.no-boxsizing .gs-body { padding: 0 0.875em !important; }

/* hack to fix sub-pixel rounding errors, overflow gives IE6 a chance... */
.gs-fixed .gs { margin-right: -1px; _overflow: hidden; }

/* fixed columns for no media query support */
.gs-fixed .gs-to-2 .gs { width: 49%; }
.gs-fixed .gs-to-3 .gs { width: 33.33333%; }
.gs-fixed .gs-to-4 .gs { width: 25%; }
.gs-fixed .gs-to-5 .gs { width: 20%; }
.gs-fixed .gs-to-6 .gs { width: 16.66666%; }

/* fixed fractions for no media query support */
.gs-fixed .gs-1-1 { width: 100%; }
.gs-fixed .gs-1-2 { width: 50%; }
.gs-fixed .gs-1-3 { width: 33%; }
.gs-fixed .gs-2-3 { width: 66%; }
.gs-fixed .gs-1-4 { width: 25%; }
.gs-fixed .gs-3-4 { width: 75%; }
.gs-fixed .gs-1-5 { width: 20%; }
.gs-fixed .gs-2-5 { width: 40%; }
.gs-fixed .gs-3-5 { width: 60%; }
.gs-fixed .gs-4-5 { width: 80%; }

@media only screen and (max-width: 30em) { /* > 480 */
// only iphone
    .site-title a {
        width: 100%;
    }
    .course-header {
        margin:0 0 0 0;
    }
    .rating-wrapper {
        margin-left: -21px;
    }
    div#toggle-rating {
        float: none;
        position: relative;
        clear: both;
        right: inherit;
        top: inherit;
        width: 100%;
        margin-top: 1em;
    }
    .rating-shim {
        height: 0;
    }
}

@media only screen and (min-width: 30em) { /* > 480 */
// not iphone
    /* start with a two-column maximum layout */
    .gs-to-2 > .gs,
    .gs-to-3 > .gs,
    .gs-to-4 > .gs,
    .gs-to-5 > .gs,
    .gs-to-6 > .gs { width: 49%; }

    .gs-to-2 > .gs:last-child {margin-left: 2%;}

    .gs-1-2 { width: 49%; }


      .course-header{
        margin: 0 -7px;
      }

}

@media only screen and (min-width: 30em) and (max-width: 35em) {
// not iphone
    /* prioritise the first on three columns */
    .gs-to-3 > .gs:first-of-type { width: 100%; }

}

@media only screen and (min-width: 35em) { /* > 560 */
// not iphone
    /* increase to a three-column maximum layout (final for a row of three) */
    .gs-to-3 > .gs,
    .gs-to-5 > .gs,
    .gs-to-6 > .gs { width: 33.33333%; }

    /* clear the last two columns in a row of five */
    .gs-to-5 > .gs:nth-of-type(4n) { clear: left; }

    .gs-1-3 { width: 33.33333%; }
    .gs-2-3 { width: 66.66666%; }

     .gs-to-3 > .gs.distinations-and-profiles{
   text-transform:uppercase;
   width:40%;

 }
 .gs-to-3 > .gs.golf-life-and-top-100{
   text-transform:uppercase;
   width:32%;
 }
 .gs-to-3 > .gs.contact{
   text-transform:uppercase;
   font-size:10px;
   width:25%;
   padding-left:2%;
 }
 .widget_stay_connected .footer-signup-input{
    width:55%!important;
 }


}

@media only screen and (min-width: 40em) { /* > 640 */
// not iphone
    /* finalise a row of four */
    .gs-to-4 > .gs { width: 25%; }

    .gs-1-4 { width: 25%; }
    .gs-3-4 { width: 75%; }

    .site-main .widget-area {
    float: right;
  overflow: hidden;
  width: 25%;
  padding-left: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-area {
  float: left;
  margin: 0 -25% 0 0;
  width: 100%; }

  .site-content {
    margin: 0 25% 0 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}



}

@media only screen and (min-width: 45em) { /* > 720 */
// ipad/ipad retina
    .gs-1-5 { width: 20%; }
    .gs-2-5 { width: 40%; }
    .gs-3-5 { width: 60%; }
    .gs-4-5 { width: 80%; }

    .rating-wrapper.gs-to-2 {
        .gs {width: 100%;margin-left: 0;}
    }

}

@media only screen and (min-width: 55em) { /* > 880 */
// not ipad/ipad retina
    /* finalise a row of five (remove the clear) */
    .gs-to-5 > .gs { width: 20%; clear: none !important; }
    .nav-search {display: block;}
    .widget-search {display: none;}
     .rating-wrapper.gs-to-2 {
        .gs {width: 49%;}
    }
      .course-header{
        margin:0 -10px;
      }

}

@media only screen and (min-width: 60em) { /* > 960 */

    /* finalise a row of six */
    .gs-to-6 > .gs { width: 16.66666%; }

}
