/* =Menu
----------------------------------------------- */
.menu-main-navigation-container {
    @extend .container;
}

// global to normal and dropdown menu
#site-navigation {
    background-color: #e9eaeb;
    text-transform: uppercase;
    a {
        display: block;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}
// h1 that has the word 'Menu'
.menu-toggle {padding:2% 0;}

// small nav only
.main-small-navigation {
    ul {
        margin-left: 0;
        padding-bottom: 1em;
    }
    a {
        color: $black;
        font-weight: bold;
        padding:2% 0;
    }
}

.navigation-main {
    @extend .font-secondary;
    clear: both;
    display: block;
    float: left;
    width: 100%;
    ul {
        font-size:14px;
        font-size:1.4rem;
        margin: 0;
        padding-left: 0;
    // & .wide-subnav ul a {width:220px;}
        ul {
            background-color: rgba(0,0,0,.70);
            display: none;
            float: left;
            position: absolute;
            top: 100%;
            left: 0;
            width: auto;
            z-index: 99999;
            padding: .5em 0;
            font-family: $font-secondary;
            min-width: 100px;
            li {width:100%;display: block;}
            a {
                // width: 180px;
                height: auto;
                padding: 2px 10px;
                color: $white;
                font-size: 13px;
                font-size: 1.3rem;
                width: 100%;
                display: block;
                white-space: nowrap;
            }
            ul {
                left: 100%;
                top: 0;
            }
        }
    }
    li {
        float: left;
        position: relative;
        display: inline;
    }
    a {
        padding: 15px 10px;
        color:$black;
    }

}
.menu > li > a {padding: 15px 10px;}

.navigation-main ul ul li {
}
.menu > li a:hover, .menu-main-menu-container > ul > li:hover > a {
    background-color: $black;
    color:$white;
}
.navigation-main ul ul :hover > a {
}
.navigation-main ul ul li:hover, .sub-menu li:hover {
        background-color: $orange;
}
.sub-menu li a:hover {
    background:none;
}
.navigation-main ul li:hover > ul {
    display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a {
}

.footer-wrapper li.menu-item:hover{
  background:none;
}

.footer-widget li.extra-margin{
 width:20% !important;
}
.footer-widget li.less-margin{
 width:13.5%;
}

/* Small menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.main-small-navigation {
    ul {
    display: none;
    }
    .sub-menu {
        margin-left: 1em;
        &.toggled-on {
            display: block;
        }
    }
}

@media screen and (max-width: 600px) {
    .menu-toggle,
    .main-small-navigation ul.nav-menu.toggled-on {
        display: block;
        margin-bottom: 0;
    }

    .navigation-main ul {
        display: none;
    }
}

// fix the menu after scroll. see navigation.js line 35
  .fixed {
    position: fixed;
    top: 0;
  }
  .sticky {
    width: 100%;
  }
  #sticky-header-shim{
    height:0;
  }
  #sticky-header-shim.open{
    height:51px;
  }
  @media screen and (max-width: 600px) {
    .slider-wrapper{
      display:none;
    }
    .stripe-container{
      display:none;
    }
    #sticky-header-shim.open{
      height:24px;
    }
    .site-description{
      display: block;
			position: relative;
		  padding-left: 12px;
		  font-size: 1em;
		  text-align: center;
		  margin-top: -17px;
    }
		.social-links{
		  position:relative;
		  text-align:right;
		  margin-top:-11px;
		}
  }



	.pagination-centered{
		text-align:center;
	}
	.pagination {
		height: 40px;
		margin: 20px 0;
	}
	.pagination ul {
		display: inline-block;
		font-family: Arial, sans-serif;
		font-size: 12px;
		margin-bottom: 0;
		margin-left: 0;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
		box-shadow: 0 1px 2px rgba(0,0,0,0.35);
	}
	.pagination ul > li {
		display: inline;
	}
	.pagination ul > li > a, .pagination ul > li > span {
		float: left;
		padding: 0 14px;
		line-height: 38px;
		text-decoration: none;
		background-color: #f3f3f3;
		background-image: -ms-linear-gradient(top, #fff, #f3f3f3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
		background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
		background-image: -o-linear-gradient(top, #fff, #f3f3f3);
		background-image: -moz-linear-gradient(top, #fff, #f3f3f3);
		background-image: linear-gradient(top, #fff, #f3f3f3);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f3f3f3', GradientType=0);
		border: 1px solid #dddddd;
		border-left-width: 0;
	}
	.pagination ul > li.active a{
		font-weight:bold;
	        color:#fff;
	        background:#1D79BB;
	}
	.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
		border-left-width: 1px;
		-webkit-border-radius: 30px 0 0 30px;
		-moz-border-radius: 30px 0 0 30px;
		border-radius: 30px 0 0 30px;
	}
	.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
		border-left-width: 1px;
		-webkit-border-radius: 0 30px 30px 0;
		-moz-border-radius: 0 30px 30px 0;
		border-radius: 0 30px 30px 0;
	}

