@mixin clearfix {
     // For modern browsers
      &:before,
      &:after {
        content:" ";
        display:table;
      }

      &:after {
        clear:both;
      }

      // For IE 6/7 (trigger hasLayout)
      & {
        *zoom:1;
      }
    }

// embeds
.max-width {
    max-width: 960px;
}

.font-base {
    font-family: $font;
    font-weight: 400;
}
.font-secondary {
    font-family: $font-secondary;
}