/*
 * version: 3.0.0
 * package: OrangeBox
 * author: David Paul Hamilton - http://orangebox.davidpaulhamilton.net
 * copyright: Copyright (c) 2011 David Hamilton / DavidPaulHamilton.net All rights reserved.
 * license: GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */
#ob_overlay {
    background-color:#333;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}
#ob_container {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    z-index:1001;
}
#ob_float {
    float:left;
    height:50%;
    min-width:100%;
}
#ob_content {
    clear:both;
    cursor:default;
    position:relative;
    margin:22px auto 44px;
    background-color:#fff;
    border:0 solid #fff;
    -webkit-box-shadow: 0px 0px 8px 2px #222222;
    -moz-box-shadow: 0px 0px 8px 2px #222222;
    line-height:0;
    display:none;
    z-index:1003;
}
#ob_iframe {
    -webkit-overflow-scrolling:touch;
    overflow:auto;
    font-size:0;
}
#ob_caption {
    color:#333;
    background-color:#fff;
    font-size:small;
}
#ob_caption p {
    padding:0;
    margin:10px;
    cursor:auto;
    line-height:1.625em;
}
#ob_video_wrapper {
    background:#000;
}
#ob_image {
    display:block;
    margin:0 auto;
}
#ob_inline {
    overflow:auto;
    cursor:auto;
}
#ob_inline .inline_content {
    padding:20px;
    line-height:1.625em;
}
#ob_load {
    -moz-border-radius:5px;
    background:image-url('loading.gif') no-repeat center;
    background-color:#fff;
    border-radius:5px;
    height:40px;
    left:50%;
    position:fixed;
    top:50%;
    width:40px;
    margin:-25px 0 0 -25px;
    padding:5px;
    -webkit-box-shadow: 0px 0px 8px 2px #222222;
    -moz-box-shadow: 0px 0px 8px 2px #222222;
    z-index:1002;
}
#ob_error {
    text-align:center;
    padding:10px;
}
#ob_close {
    background:image-url('buttons.png');
    cursor:pointer;
    height:30px;
    left:-26px;
    position:absolute;
    top:-26px;
    width:30px;
    z-index:1005;
}
#ob_title {
    color:#fff;
    left:auto;
    position:absolute;
    margin-left:15px;
    right:0;
    text-align:right;
    z-index:1004;
    line-height:1em;
    cursor:auto;
}
#ob_left,#ob_right {
    bottom:8px;
    cursor:pointer;
    height:100%;
    position:absolute;
    width:50px;
    z-index:1004;
}
#ob_left { left:-53px; }
#ob_right { right:-53px; }
#ob_left-ico,#ob_right-ico {
    cursor:pointer;
    display:block;
    height:30px;
    margin-top:-9px;
    position:absolute;
    top:50%;
    width:30px;
    z-index:1004;
}
#ob_left-ico {
    background:image-url('buttons.png') center;
    right:20px;
}
#ob_right-ico {
    background:image-url('buttons.png') right;
    left:20px;
}
#ob_left:hover,#ob_right:hover { visibility:visible; }
#ob_dots {
    position:absolute;
    bottom:-24px;
    list-style:none;
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
}
#ob_dots li {
    height:8px;
    list-style:none;
    width:8px;
    margin:3px;
    -moz-border-radius:4px;
    background-color:#666;
    border-radius:4px;
    cursor:pointer;
    display: -moz-inline-stack;
    display: inline-block;
    zoom:1;
    *display:inline;
}
#ob_dots .current { background-color:#CCC!important; }
#ob_share { margin-left:8px; }