div.rateit
{
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    &.adding-rating {
        cursor:pointer;
    }
}

div.rateit div.rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: image-url('bars-wide.png');
    height: 14px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
    left: 0px;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateit div.rateit-hover
{
    background: image-url('bars-wide.png') left -45px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -32px;
}

div.rateit div.rateit-selected
{
    background: image-url('bars-wide.png') left -15px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -14px;
}

div.rateit div.rateit-preset
{
    background: image-url('bars-wide.png') left -45px;
}

div.rateit div.rateit-preset-rtl
{
    background: image-url('bars-wide.png') left -45px;
}

div.rateit div.rateit-reset
{
    background: image-url('bars-wide.png') 0 0;
    width: 55px;
    height: 14px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -14px;
}

div#toggle-rating{
    border:1px solid #ccc;
    background:#FF5C14;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
    text-align: center;
    cursor:pointer;
    color:#fff;
    width: 20%;
    position: absolute;
    top:0;
    right: 10%;
    /*float:right;*/
    padding:2px 3px;
    /*margin:5px 3.7em 5px 0;*/
}
