.top-100-wrapper{                    
  padding:15px 10px 15px 10px; 
	min-height:700px;                   
}
.top-100-left{
  border-right:1px solid $grey;
  border-bottom:1px solid $grey;
}
.top-100-right{
   border-bottom:1px solid $grey;
}
.top-100-header{
 margin-bottom:10px;
 min-height:70px;
}
.top-100-list-logo{
  float:right;
  width:18%;
}
.top-100-list-logo img{
  width:100%;
}
.top-100-title{
 font-size:2em;
}
.top-100-archive-title{
  font-size:15px;
  max-width:70%;
  clear:none;
}
.top-100-archive-title a{
  color:#000;
}
.top-100-date{
  font-size:13px;
  color:#999;
  font-style:italic;
}
.top100-list{
  padding-top:5px;
  font-size:13px;
  margin-left:0;
}
ul.top100-list{
	list-style:decimal;
	list-style-position:outside;
	text-indent:0;
	margin-left:20px;
}
.top100-list li{
 list-style-position: inside;
 margin-left: 0;
 padding-bottom: 0.4em;
 padding-left: 1.5em;
 text-indent: -1.5em;
}
li.top-100-odd{
  background:#F9F9F9;
}

ul.top100-list li{
 list-style-position:outside;
 padding-left:0;
 text-indent:0;	
}
.subtext{
	
}

.gs-to-2 > .gs:last-child.ig-course-column{
   margin-left:0;
 }
 .ig-course{
   font-size:12px;
   padding:3px 0;
 }
 .left-column .ig-course.even, .right-column .ig-course.odd{
   background:#fafafb;
 }
 .ig-course-number{
   float:left;
   font-size:14px;
   font-weight:bold;
   color:#666;
   padding:0 5px 0 3px;
 }
 .ig-course-description{
   float:left;
 }
 .ig-course-name{
   font-size:13px;
   font-weight:bold;
 }

.top-courses-played-title{
	margin-bottom:10px;
}

.top-100-bug .bug.blue-border {
  font-family: 'NovecentowideBookRegular';
	margin-top:6px;
	border-color:#142f54;
	border-width: 2px;
	font-size: 10px !important;
	font-weight:bold;
	line-height:10px;
	width:35px;
	height:35px;
}