// colors
$white: #ffffff;
$blue: #007ab6;
$orange: #ff5c14;
$black: #000103;
$grey: #e2e3e4;
$gray: $grey;
$medium_grey: #a5a8aa;

// element colors
$bg-color: $grey;
$text-color: #58595b;
$header-color: #221f1c;
$header-link-color:$blue;
$link-color: $orange;
$menu-link-color: #77787b;
$footer-header-color: #918f43;

// font stack
$font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-secondary: 'NovecentowideBookBold', sans-serif;
$font-tertiary: 'NovecentowideBookRegular', sans-serif;